@{
    ViewBag.Title = "About Us";
}

<script type="text/javascript">
	$(function () {
		var fileUpload = $.connection.fileUpload;

		// Declare a function on the chat hub so the server can invoke it
		fileUpload.updateProgress = function (fileId, fileName, progress) {
			var file = $("#" + fileId);
			if (file.length == 0) {
				var html = "<div id='" + fileId + "' style='border-radius: 15px; width: 400px; background-color: lightblue; '><p style='margin-left: 1em;'></p>" +
								"<div style='border: 1px solid black; width: 300px; border-radius: 5px; margin-left: 1em;'>" +
									"<div style='background-color:green; width:0%; border-radius: 3px;'>&nbsp;</div>" +
							"</div></div>";
				$(html).hide().appendTo("#file-upload").fadeIn(3000);
				file = $("#" + fileId);
			}
			var progressDiv = $(file).children('div')[0];
			var progressBar = $(progressDiv).children('div')[0];
			progressBar.style.width = progress + '%';
			var p = $(file).children('p')[0];
			$(p).text("File: " + fileName + " is " + progress + '% complete');
		};
	});
</script>

<h2>About</h2>
<div id="file-upload">
	
</div>

